
<div *ngIf="medida">
    <h2><span jhiTranslate="clothesApp.medida.detail.title">Medida</span> {{medida.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="clothesApp.medida.contornoBusto">Contorno Busto</span></dt>
        <dd>
            <span>{{medida.contornoBusto}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.anchoPecho">Ancho Pecho</span></dt>
        <dd>
            <span>{{medida.anchoPecho}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.altoBusto">Alto Busto</span></dt>
        <dd>
            <span>{{medida.altoBusto}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.bajoBusto">Bajo Busto</span></dt>
        <dd>
            <span>{{medida.bajoBusto}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.alturaPinza">Altura Pinza</span></dt>
        <dd>
            <span>{{medida.alturaPinza}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.separacionBusto">Separacion Busto</span></dt>
        <dd>
            <span>{{medida.separacionBusto}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.talleDeltantero">Talle Deltantero</span></dt>
        <dd>
            <span>{{medida.talleDeltantero}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.talleEspalda">Talle Espalda</span></dt>
        <dd>
            <span>{{medida.talleEspalda}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.largoCorset">Largo Corset</span></dt>
        <dd>
            <span>{{medida.largoCorset}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.costado">Costado</span></dt>
        <dd>
            <span>{{medida.costado}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.hombro">Hombro</span></dt>
        <dd>
            <span>{{medida.hombro}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.anchoHombro">Ancho Hombro</span></dt>
        <dd>
            <span>{{medida.anchoHombro}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.largoManga">Largo Manga</span></dt>
        <dd>
            <span>{{medida.largoManga}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.sisa">Sisa</span></dt>
        <dd>
            <span>{{medida.sisa}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.cintura">Cintura</span></dt>
        <dd>
            <span>{{medida.cintura}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.anteCadera">Ante Cadera</span></dt>
        <dd>
            <span>{{medida.anteCadera}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.cadera">Cadera</span></dt>
        <dd>
            <span>{{medida.cadera}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.largoPollera">Largo Pollera</span></dt>
        <dd>
            <span>{{medida.largoPollera}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.fechaMedida">Fecha Medida</span></dt>
        <dd>
            <span>{{medida.fechaMedida | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="clothesApp.medida.cliente">Cliente</span></dt>
        <dd>
            <div *ngIf="medida.cliente">
                <a [routerLink]="['/cliente', medida.cliente?.id]">{{medida.cliente?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'medida/'+ medida.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
